<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Appartoo test{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
          <link rel="stylesheet" href="{{ asset('css/main.css')  }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
        {% block header %} {{  include('header.html.twig') }} {% endblock %}
         <div class="container">
            <div class="row content">
                <div class="col-sm-3 sidenav">
                    {% block sidebar %}
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                        <header class="page-header">
                          <h1>Mes contacts</h1>
                        </header>
                        <br>
                        {{ render(controller(
                            'UserBundle:User:listFriends',
                            { 'max': 3 }
                        )) }}
                        <p>
                          <a href="{{ path('mes_contacts') }}">Voir tous</a>
                        </p>
                      {% endif %}
                    {% endblock %}
                </div>
                <div class="container col-sm-9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="row content">
            {% block footer %} {{  include('footer.html.twig') }}  {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
