<footer>
  <div class="container" >
      <div id="footer-copyright" class="col-md-12">
        <p  class="text-center">&copy; {{ 'now'|date('Y') }} - Appartoo test by Jules Camille</p>
        {#<p>{{ 'mit_license'|trans }}</p>#}
      </div>
  </div>
</footer>
