<header>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="{{ path('homepage') }}">Appartoo test</a>
   </div>

   <div class="collapse navbar-collapse" id="myNavbar">
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
         <ul class="nav navbar-nav">
          <li><a href="{{ path('fos_user_profile_edit') }}"> Paramètres</a></li>
          <li><a href="{{ path('mes_contacts') }}"> Contacts</a></li>
          <li><a href="{{ path('all_contacts') }}"> Tous les contacts</a></li>
        </ul>
      {%endif%}
     <ul class="nav navbar-nav navbar-right">
       {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          <li><a href="{{ path('fos_user_profile_show') }}"><span class="glyphicon glyphicon-user"></span> {{ app.user.username }}</a></li>
          <li><a href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
      {% else %}
        <li><a href="{{ path('fos_user_registration_register') }}"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
        <li><a href="{{ path('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
      {% endif %}
     </ul>
   </div>
  </div>
  </nav>
</header>
