{% extends 'base.html.twig' %}

{% block body %}
    <h1> MON MAGNIFIQUE CARNET D'ADRESSE </h1>
    <div class="row">
      {% for message in app.session.flashbag.get('info') %}
          <p class="alert alert-info"> {{ message }}</p>
        {% endfor %}
    </div>

{% endblock %}
