{% trans_default_domain 'FOSUserBundle' %}
<header class="page-header">
  <h1>Inscription</h1>
</header>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-vertical well'}}) }}
  <p>Veuillez remplir les champs comportant un astérisque *</p>
  <div class="form">
    {{ form_errors(form) }}
  </div>
  <div class="form-group">
    {{ form_label(form.email, "Adresse e-mail *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_label(form.username, "Nom D'utilisateur *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_label(form.plainPassword.first, "Mot de passe *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_label(form.plainPassword.second, "Vérification *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_label(form.telephone, "telephone *", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.telephone) }}
    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_label(form.site_web, "Site web", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.site_web) }}
    {{ form_widget(form.site_web, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div class="form-group">
    {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.adresse) }}
    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
  </div>

  <div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
  </div>
{{ form_end(form) }}
