{% extends '::base.html.twig'%}
{% block body %}
  {% for key, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}">
          {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
  {% endfor %}

  <div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
  </div>
{% endblock %}
