{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
  <div class="alert alert-danger text-center" stlye="border-radius:10px;">Login ou mot de passe incorrect</div>
{% endif %}
<header class="page-header">
  <h1>Connexion</h1>
</header>
<form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="form-vertical well">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <div class="form-group">
      <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
      <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
    </div>
    <div class="form-group">
      <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
      <input type="password" id="password" name="_password" class="form-control"/>
    </div>
    <div class="checkbox">
      <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
    </div>
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
</form>
{% endblock fos_user_content %}
