{% extends '::base.html.twig' %}

{% block body %}
  <header class="page-header">
    <h1>Liste de mes contacts</h1>
  </header>
  {{  include('UserBundle:Contacts:show_content_contacts.html.twig') }}
  <div>
    <ul class="pagination">
      {% for p in range(1, nbPages) %}
        <li{% if p == page %} class="active"{% endif %}>
          <a href="{{ path('mes_contacts', {'page': p}) }}">{{ p }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
