{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <div class="row">
    {% for message in app.session.flashbag.get('info') %}
        <p class="alert alert-success"> {{ message }}</p>
    {% endfor %}
  </div>
  <header class="page-header">
    <h1>Details utilisateur</h1>
  </header>
  {% include "UserBundle:Profile:show_content.html.twig" %}
  {% if (user.id !=  app.user.id) %}
    <div>
      {% if  isAjouter %}
        <a href="{{ path('supprimer_contact', {'id':user.id}) }}" class="btn btn-danger">Supprimer</a>
      {% else %}
        <a href="{{ path('ajouter_contact', {'id_friend':user.id}) }}" class="btn btn-success">Ajouter</a>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
