
<table class="table">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>Nom</th>
      <th>Téléphone</th>
      <th>Adresse</th>
      <th>Site web</th>
    </tr>
  </thead>
  {% if contacts is empty %}
    <h3 class="alert alert-info">Aucun contact</h3>
  {% else %}
    <tbody>
      {% for contact in contacts %}
      {% if loop.index is even %}
        <tr class="info">
      {% else %}
        <tr>
      {% endif %}
          <td><a href="{{ path('details_utilisateur', {'id': contact.id}) }}">
           {{ contact.email }}
          </a></td>
          <td>{{ contact.username }}</td>
          <td>{{ contact.telephone }}</td>
          <td>{{ contact.adresse }}</td>
          <td>{{ contact.siteWeb }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% endif %}
</table>
