{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <header class="page-header">
    <h1>Modifier mon profil</h1>
  </header>
  {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}
