{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'form-vertical well' } }) }}
    <div class="falert alert-alert alert-danger">
      {{ form_errors(form) }}
    </div>
    <div class="form-group">
      {{ form_label(form.username, "Nom d'utilisateur ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.username) }}
      {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.email) }}
      {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.current_password) }}
      {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.telephone, "telephone", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.telephone) }}
      {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.site_web, "Site web", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.site_web) }}
      {{ form_widget(form.site_web, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
      {{ form_label(form.adresse, "Adresse", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.adresse) }}
      {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
