{% extends "UserBundle::layout.html.twig" %}

{% block fos_user_content %}
  <header class="page-header">
    <h1>Mon profil</h1>
  </header>
  {% include "UserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
