
<div class="well">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading"> E-mail </div>
        <div class="panel-body">{{ user.email }}</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"> Nom</div>
        <div class="panel-body">{{ user.username }}</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"> Téléphone</div>
        <div class="panel-body">{{ user.telephone }}</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"> Adresse</div>
        <div class="panel-body">{{ user.adresse }}</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading"> Site web</div>
        <div class="panel-body"> {{ user.siteWeb }} </div>
      </div>
      <br/>
    </div>
</div>
